@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=M+PLUS+1p&family=Roboto+Slab:wght@100..900&display=swap');

.header {
	font-family: "M PLUS 1p", sans-serif; /*Cherry Bomb One*/
    padding: 0px;
    width: 100%;               
    height: 60px;
    text-align: center;
    font-size: 2.5rem;
    color :#F26939;
    font-weight: bold;
}

.homeButton {
    position: absolute;
    left: 25px;
    top: 35px;
    transform: translateY(-50%);
    background-color: #ffffff;
    color: #F26939;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
}

.headersquare {
  position: absolute;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 13%;
  /* background-color: rgba(255,221,131, 0.4); */
  /* border-radius: 16px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  /* border-bottom: 2px solid #4C64D3; */
  border-bottom: 3px solid #FFDD83;
  /* box-shadow: 0px 10px 10px 0px rgba(76,100,211, 0.5); */
  box-shadow: 0px 15px 10px 0px rgba(255,221,131, 0.5);
}

.main {
    margin-bottom: 70px;
    width: 100%;
    background: #ffffff;
    color: #000000;
    height: 60%; /* ビューポート全体に広げたい場合 */
    right: 1px;
    /* height: 500px; または必要に応じた固定値 */
}

.scrollbar {
    height: 56vh;
    overflow-y: scroll;
    /* border: 1px solid gray;  */
    display: flex;
    flex-direction: column;

}


.footer {
    position: absolute;
    top: 80%;
    /* border-top: 5px solid #FFDD83; */
    /* box-shadow: 0px 15px 10px 0px rgba(255,221,131, 0.5); */
    width: 100%;
    height: 0.5%;
}

.messageInput {
  box-sizing: border-box;
  font-family: "M PLUS 1p", sans-serif;
  width: 90%;
  max-width: 800px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #F26939;
  background-color: #ffffff;
  border: 4px solid #FFDD83;
  border-radius: 50px;
  padding: 10px 30px;
  display: block;
  margin: 40px auto 0 auto;
}

.sendButton {
    position: absolute;
    right: 50px;
    top: 70px;
    transform: translateY(-50%);
    background-color: #F26939;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

.myMessage {
  background-color: #FFDD83;
  padding: 10px 12px;
  margin: 5px;
  border-radius: 20px;
  max-width: 60%;
  min-width: 50px;
  align-self: flex-end; /* これで右寄せ */
  word-wrap: break-word;
  text-align: center;
}


.partnerMessage {
  background-color:rgba(255,221,131, 0.4);
  text-align: center;
  padding: 10px 12px;
  margin: 5px;
  border-radius: 20px;
  max-width: 60%;
  min-width: 50px;
  margin-right: auto;
}

.myMessagetime {
  font-size: 0.7rem;
  color: gray;
  white-space: nowrap;
  align-self: flex-end;
}

.partnerMessagetime{
  font-size: 0.7rem;
  color: gray;
  white-space: nowrap;
  align-self: flex-start;
}


