@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=M+PLUS+1p&family=Roboto+Slab:wght@100..900&display=swap');

.header {
	font-family: "M PLUS 1p", sans-serif; /*Cherry Bomb One*/
    padding: 0px;
    width: 100%;               
    height: 60px;
    text-align: center;
    font-size: 2.5rem;
    color :#F26939;
    font-weight: bold;
}

.homeButton {
    position: absolute;
    left: 25px;
    top: 35px;
    transform: translateY(-50%);
    background-color: #ffffff;
    color: #F26939;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
}

.headersquare {
  position: absolute;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 13%;
  /* background-color: rgba(255,221,131, 0.4); */
  /* border-radius: 16px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  /* border-bottom: 2px solid #4C64D3; */
  border-bottom: 3px solid #FFDD83;
  /* box-shadow: 0px 10px 10px 0px rgba(76,100,211, 0.5); */
  box-shadow: 0px 15px 10px 0px rgba(255,221,131, 0.5);
}

.main {
    background: rgba(255,221,131, 0.5);
}


.footer {
    position: absolute;
    top: 80%;
    /* border-top: 5px solid #FFDD83; */
    /* box-shadow: 0px 15px 10px 0px rgba(255,221,131, 0.5); */
    width: 100%;
    height: 0.5%;
}

.messageInput {
  box-sizing: border-box;
  font-family: "M PLUS 1p", sans-serif;
  width: 800px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #F26939;
  background-color: #ffffff;
  border: 4px solid #FFDD83;
  border-radius: 50px;         /* ← px が抜けていたので修正 */
  padding: 30px;
  display: block;
  margin: 40px auto 0 auto;  /* ← 上に100pxの余白を追加しつつ中央に */
}

.sendButton {
    position: absolute;
    right: 40px;
    top: 75px;
    transform: translateY(-50%);
    background-color: #F26939;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 30px;
}